.container {
  padding: 80px 120px;
}

.column-text {
  text-align: center;
}

.column-images {
  display: flex;
  justify-content: flex-end;
  margin-left: 75px;
}

.logo_list {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.blue-button{
  margin-bottom: 20px;
}

.card-image {
  background-color: $white;
  padding: 20px;
  margin-bottom: 15px;
  margin-right: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.image {
  height: 155px;
  width: 155px;
}

.activity-card {
  color: $white;
  background-color: $blue;
  margin-bottom: 10px;
  border-radius: 4px;
}

.top-item {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.title2 {
  margin-bottom: 20px;
}

.create_bucket {
  margin-top: 10px;
}

.show-info {
  opacity: 0;
  position: absolute;
  background-color: $white;
  height: 155px;
  width: 155px;
  font-size: 16px;
}

.show-info:hover {
  opacity: 1;
}

.show-item {
  opacity: 0;
  position: absolute;
  color: $black;
  background-color: $blue;
  margin-bottom: 10px;
  border-radius: 4px;
  text-indent: 32px;
}

.show-item:hover {
  opacity: 1;
}

