<div class="footer">
  <div>
    <p class="footer-text">All Rights Reserved</p>
  </div>
  <div>
    <%= link_to root_path do %>
      <i class="fab fa-facebook-square"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fas fa-envelope"></i>
    <% end %>
  </div>
</div>
