<div class="container">
  <div class="banner">
    <div class="row">
      <div class="col-md-6 column-text">
        <%= link_to "Start Here!", buckets_path, class: "blue-button large-button space-between" %>
        <h1>Don't waste time chasing your dreams. Just use it to do them.</h1>
        <p>- The Bucket List Team</p>
        <img src="/assets/Logo_list.png" class="logo_list">
      </div>
      <div class="col-md-5 column-images">
        <div>
          <div class="card-image">
            <div class="show-info">From the confort of your home create your Bucket List!</div>
            <img src="/assets/sofa.png" class="image">
          </div>
          <div class="card-image">
            <div class="show-info">Find the hottest deals on the activities you added to your Bucket List!</div>
            <img src="/assets/hot-deals.png" class="image">
          </div>
        </div>
        <div>
          <div class="card-image">
            <div class="show-info">Add the activities that you would love to do, but, never had the  money and/or found the perfect time for it.</div>
            <img src="/assets/heart.png" class="image">
          </div>
          <div class="card-image">
            <div class="show-info">And most important of all. SAVE MONEY. You can add budgets to your activities.</div>
            <img src="/assets/saving-money.png" class="image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12 column-text">
    <h3 class="title2">What are the top 10 bucket list items?</h3>
    <div>
      <div class="show-item">Items that are closer to your budget will appear at the top, and, if they meet the budget will appear with a highlight.</div>
      <div class="activity-card top-item">Fall in love - 83%</div>
    </div>
    <div class="activity-card">Go on a wine tour in Napa - 53%</div>
    <div class="activity-card">Change someone's life for the better - 52%</div>
    <div class="activity-card">Get to my ideal weight - 47%</div>
    <div class="activity-card">Go on a safari - 45%</div>
    <div class="activity-card">Ride a hot air balloon - 45%</div>
    <div class="activity-card">See the Northern Lights - 45%</div>
    <div class="activity-card">Go to the Super Bowl - 43%</div>
    <div class="activity-card">Swim with dolphins - 39%</div>
    <div class="activity-card">Travel through Europe - 38%</div>
    <%= link_to "Create My Bucket List", buckets_path, class: "create_bucket white-button" %>
  </div>
</div>
