<div class="container">
  <%= link_to "My Profile", my_profile_path(current_user), class: "blue-button" %>
  <div>
    <%= render 'form' %>
  </div>
  <% if @buckets.empty? %>
    <p> Start creating your firts bucket</p>
  <% else %>
  <%# TODO: With JS hide and show BUCKET form %>
    <div>
      <% @buckets.each do |bucket| %>
        <% if bucket.user == current_user %>
          <%= link_to bucket_activities_path(bucket) do %>
            <div class="bucket-card">
              <%= bucket.title %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
