// ***  BUCKET HEADER ***
.container.activity {
  margin-bottom: 12vh;
}

.container-fluid {
  padding: 0;
}
.container-fluid.activity {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin: 0;
}

.max-header-width {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.activity-header {
  background-size: cover;
  background-position: center;
  padding: 9vh;
  justify-content: left;
  align-items: center;
}

.activity-title {
  display: inline-block;
  margin: 0;
  color: white;
}

.activity-title h1 {
  margin-right: 5px;
}

// *** LINKS ***
.center-activity-links {
  padding: 0 8vh;
}

.activity-links {
  padding: 8vh 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

// DELETE
.delete-bucket {
  background-color: none;
  display: inline-block;
  padding: 8px 16px;
  transition: background-color .3s;
  border-radius: 5px;
}

.delete-bucket:hover {
  text-decoration: none;
  color: $white;
  background-color: $red;
}

//BACK
.activity-back {
  // position: absolute;
  // top: 50%;
  // left: calc(8vh + 44px);
  // transform: translate(-50%, -50%);
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 767px) {
  .activity-back {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: white;
  }
}

// NEW
.new-activity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bucket_title {
  padding: 6px;
  border-radius: 5px;
  margin-right: 3px;
  border: 1px solid grey;
}

// UPLOAD PHOTO
.upload-bucket-photo {
  display: flex;
  align-items: center;
  justify-content: right;
}

.upload-bucket-photo .circle-button {
  margin-right: 8px;
}

#bucket_photo {
  color: $blue;
  margin-right: 0.8vw;
}

// MAP
.map {
  margin-top: 50px;
  height: 100px;
  width: 100px;
  border-style: solid;
  border-color: $blue;
  border-width: 20px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}

.empty-activities {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(88, 88, 88);
}

.empty-text {
  color: $blue;
}

.empty-activities-image {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
}
