.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom-style: solid;
  border-bottom-color: $blue;
  align-items: baseline;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.avatar {
  height: 50px;
  width: 50px;
}
