.bucket #bucket-form {
  margin: 3vh;
}

@media (max-width: 767px) {
  .container {
    padding: 5vh 0;
  }

  .my-profile-button {
    margin-left: 5vw;
  }
}

// HOVER EFECT
.bucket-wrap { 
  visibility: hidden; 
}

.bucket-wrap > * { 
  visibility: visible; 
}

.bucket-wrap > * { 
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; 
}

.bucket-wrap:hover > * { 
  opacity: 0.4; transform: scale(0.9); 
}

.bucket-wrap > *:hover { 
  opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; 
}
