.blue-button {
  margin-bottom: 20px;
  margin-top: 20px;
}

.profile-card {
  padding: 20px;
  background-color: $blue;
  color: $white;
  margin-top: 20px;
  border-radius: 8px;
}

.profile-photo {
 height: 300px;
 width: 300px;
 border-radius: 50%;
 box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 border-color: $blue;
 border-style: solid;
 border-width: 10px;
}
